.swiper-button-next,
.swiper-button-prev {
  top: 50%; /* Căn giữa theo chiều dọc */
  transform: translateY(-50%); /* Căn giữa theo chiều dọc */
  z-index: 10; /* Đảm bảo mũi tên nằm trên các phần tử khác */
  width: 40px; /* Chiều rộng cho mũi tên */
  height: 40px; /* Chiều cao cho mũi tên */
}

.swiper-button-next {
  right: -20px; /* Di chuyển ra ngoài bên phải */
}

.swiper-button-prev {
  left: -20px; /* Di chuyển ra ngoài bên trái */
}
